body{
    background-color: #f4efe6;
    margin: 0;
}

@font-face {
    font-family: M Classic;
    src: url(./Images/Montserrat-Regular.ttf);
}

button {
    background-color: #17968b;
    color: rgb(0, 0, 0);
    padding: .625rem 3.125rem;
    text-decoration: none;
    border: none;
    border-radius: .3125rem;
}

@font-face {
    font-family: Seasons;
    src: url(./Images/Fontspring-DEMO-theseasons-reg.otf);
}

.font{
    font-size: 2rem;
    font-family: Seasons;
}

nav {
    background-color: #f4efe6;
    padding: 10px 0;
    height: 60px;
}

nav ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify; 
    margin: 10px;
}

nav ul.navbar li {
    float: left;
    margin: 0;
    padding: 0;
    text-decoration-color: white;
    font-family: 'Montserrat Classic';

}

nav ul.navbar li a {
    background-color:#f4efe6; 
    color: rgb(253, 253, 253);
    text-align: left;
    display: block;
    padding: 8px;
    text-decoration: none;
    margin-right: 20px; 
    border-radius: 5px; 
}

nav ul.navbar li a:hover {
    background-color: #f4efe6; 
    transform: scale(1.3);
}

.banner img{
    max-width: 100%;
    height: auto;
    border: .8rem solid rgb(212,180,232);
    border-left: 0;
    border-right: 0;
} 

.test{
    background-color: hsla(0, 0%, 32%, 0.363);
    padding: 10px;
    display: inline-block;
    justify-content: center;
    text-align: center;
    max-width: 1150px;
    height: 350px;
    margin-top: 20px;
    border-radius: 50px; 
    margin-left: 180px;
    margin-bottom: 25px;
}


.test h1 {
    font-size: 45px;
    margin-bottom: 35px;
    color: #d3d230;
    letter-spacing: 5px;
    font-family: Seasons ;
}

.test p {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
    font-size: 25px;
    font-family: M classic;
}

footer {
    background-color: #f4efe6;
    color: rgb(61, 61, 61);
    text-align: center;
    padding: .625rem;
}

.dark{
    background-color: rgb(72, 72, 72);
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 1.5625rem;
}