/* Body styles */
body {
    background-color: #f4efe6;
    margin: 0;
}
/* custom font */
@font-face {
    font-family: M Classic;
    src: url(./Images/Montserrat-Regular.ttf);
}
/* navbar buttons */
button {
    background-color: #17968b;
    color: rgb(0, 0, 0);
    padding: .625rem 3.125rem;
    text-decoration: none;
    border: none;
    border-radius: .3125rem;
    margin-left: 1rem;
}

/* Custom font definition */
@font-face {
    font-family: Seasons;
    src: url(./Images/Fontspring-DEMO-theseasons-reg.otf);
}

/* Font class styles */
.font {
    font-size: 2rem;
    font-family: Seasons;
}

/* Navigation styles */
nav {
    background-color: #f4efe6;
    height: 60px;
}
/* Navbar spacing */
nav ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify; 
    margin: 10px;
}

/* Navigation list item styles */
nav ul.navbar li {
    float: left;
    margin: 0;
    padding: 0;
    text-decoration-color: white;
    font-family: 'Montserrat Classic';
}

/* Navigation link styles */
nav ul.navbar li a {
    background-color: #f4efe6; 
    color: rgb(253, 253, 253);
    text-align: left;
    display: block;
    padding: 8px;
    text-decoration: none;
    margin-right: 20px; 
    border-radius: 5px;
    transition: 2s;
}

/* Navigation link hover effect */
nav ul.navbar li a:hover {
    background-color: #f4efe6; 
    transition: 1s;
    transform: scale(1.1);
}

/* Banner image styles */
.banner img {
    max-width: 100%;
    height: 35rem;
    width: 100%;
    border: .8rem solid rgb(212, 180, 232);
    border-left: 0;
    border-right: 0;
} 
/* About us container spacing */
.test{
    background-color: hsla(0, 0%, 32%, 0.363);
    padding: 10px;
    display: inline-block;
    justify-content: center;
    text-align: center;
    max-width: 80vw;
    height: auto;
    width:auto;
    margin-top: 20px;
    border-radius: 50px; 
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 25px;
}

.test h1 {
    font-size: 45px;
    margin-bottom: 2rem;
    margin-top: 8px;
    color: #d3d230;
    letter-spacing: 5px;
    font-family: Seasons ;
}

.test p {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
    font-size: 25px;
    font-family: M classic;
}

/* Footer styles */
footer {
    background-color: #f4efe6;
    color: rgb(61, 61, 61);
    text-align: center;
    padding: .625rem;
    margin-top: 20px;
}
.footer_logo{
    width: 4rem;
    height: 4rem;
}

/* Dark section styles */
.dark {
    background-color: rgb(72, 72, 72);
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 1.5625rem;
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    nav ul.navbar li {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    nav ul.navbar li a {
        margin-right: 0;
    }

    .story,
    .mission,
    .practices {
        width: 100%;
        margin-left: 0;
    }
}

/* Media query for screens smaller than 480px */
@media only screen and (max-width: 480px) {
    .font {
        font-size: 1.5rem;
    }
}
