body{
    background-color: #f4efe6;
    margin: 0;
}

button {
    background-color: #17968b;
    color: rgb(0, 0, 0);
    padding: .625rem 3.125rem;
    text-decoration: none;
    border: none;
    border-radius: .3125rem;
    margin-left: 1rem;
}

@font-face {
    font-family: Seasons;
    src: url(./Images/Fontspring-DEMO-theseasons-reg.otf);
}

.font{
    font-size: 2rem;
    font-family: Seasons;
}

.font2 {
    font-size: 2rem;
    font-family: Seasons;  
}
.font3 {
    font-family: montserrat;

}
@font-face{
    font-family: montserrat;
    src: url(./montserrat/Montserrat-Regular.ttf);
}
nav {
    background-color: #f4efe6;
    height: 60px;
}

nav ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify; 
    margin: 10px;
}

nav ul.navbar li {
    float: left;
    margin: 0;
    padding: 0;
    text-decoration-color: white;
    font-family: 'Montserrat Classic';
}

nav ul.navbar li a {
    background-color:#f4efe6; 
    color: rgb(253, 253, 253);
    text-align: left;
    display: block;
    margin: 8px 28px 8px 8px;
    text-decoration: none;
    border-radius: 5px;
    transition: 2s; 
}

nav ul.navbar li a:hover {
    background-color: #f4efe6;
    transition: 1s;
    transform: scale(1.1);
}

.banner img{
    max-width: 100%;
    height: auto;
    border: .8rem solid rgb(212,180,232);
    border-left: 0;
    border-right: 0;
}

.main_img {
    max-width: 60%;
    float: right;
}

.cards img {
    width: 22vw; 
    height: 562px;
    margin-left: 8vw;
    border-radius: 15px;
}

#title_1{
    margin: 0 5vw 0 10vw ;
    width: 17vw;
}

#title_2{
    margin: 0 5vw 0 8.5vw;
    width: 16vw;
}

#title_3{
    margin: 0 5vw 0 7vw;
    width: 21vw;
}

.card_titles {
    margin-bottom: 2vw;
}

/* Style for the <aside> tag */
aside {
    background-color: #f8f8f8;
    padding: 30px; /* Increased padding for a higher height */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

/* Style for the headings inside <aside> */
aside h6 {
    color: #333;
    font-size: 18px;
}

aside .about_header {
    color: rgb(212,180,232);
    font-size: 28px; 
}

/* Style for the paragraph inside <aside> */
aside .about_text {
    color: #666; 
    font-size: 16px;
}

/* Style for the button inside <aside> */
aside button {
    background-color: rgb(212,180,232); 
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

/* Hover effect for the button inside <aside> */
aside button:hover {
    background-color: rgb(212,180,232);
}

/* Container for the <aside> and image */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}



/* Style for the image inside the .about section */
.about .main_img {
    max-width: 50%; 
}

/* Container for the <aside>, about bubble, and image */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Style for the image inside the .about section */
.about .main_img {
    max-width: 50%;
}

footer {
    background-color: #f4efe6;
    color: rgb(61, 61, 61);
    text-align: center;
    padding: .625rem;
    margin-top: 20px;
}
.footer_logo{
    width: 4rem;
    height: 4rem;
}
