body{
    background-color: #f4efe6;
}

button {
    background-color: #17968b;
    color: rgb(0, 0, 0);
    padding: .625rem 3.125rem;
    text-decoration: none;
    border: none;
    border-radius: .3125rem;
  }

nav {
    height: 3.75rem;
}

nav ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify; 
    margin: .625rem;
}

nav ul.navbar li {
    float: left;
    margin: 0;
    text-decoration-color: white;
    font-family: 'Montserrat Classic';

}

nav ul.navbar li a { 
    color: rgb(253, 253, 253);
    text-align: left;
    display: block;
    padding: 8px;
    text-decoration: none;
    margin-right: 1.25rem; 
    border-radius: .3125rem; 
}

nav ul.navbar li a:hover {
    transform: scale(1.3);
}
