body{
    background-color: #f4efe6;
}

button {
    background-color: #17968b;
    color: white;
    padding: 10px 50px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
  }

nav {
    background-color: #f4efe6;
    padding: 10px 0;
    height: 60px;
}

nav ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify; 
    margin: 10px;
}

nav ul.navbar li {
    float: left;
    margin: 0;
    padding: 0;
    text-decoration-color: white;
    font-family: 'Montserrat Classic';

}

nav ul.navbar li a {
    background-color:#f4efe6; 
    color: rgb(253, 253, 253);
    text-align: left;
    display: block;
    padding: 8px;
    text-decoration: none;
    margin-right: 20px; 
    border-radius: 5px; 
}

nav ul.navbar li a:hover {
    background-color: #f4efe6; 
    transform: scale(1.3);
    transition-duration: 1second;
}
/* GRID CONTAINER */
.grid-container{
    display: grid;
    justify-content: center;
    align-items: center;
}
/* GRID */
.grid{
    display: grid;
    grid-template-rows: [one] 1fr [two] 1fr [three] 1fr [four];
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth];
    margin: 1rem;
    padding: 1rem;
    width: auto;
    height: auto;
}
#shirt_1{
    display: flex;
    grid-area: shirt1;
    grid-template-rows: one/two;
    grid-template-columns: first/second;
}
#shirt_2{
    display: flex;
    grid-area: shirt2;
    grid-template-rows: one/two;
    grid-template-columns: second/third;
}
#shirt_3{
    display: flex;
    grid-area: shirt3;
    grid-template-rows: one/two;
    grid-template-columns: third/fourth;
}
#pants_1{
    display: flex;
    grid-area: pants1;
    grid-template-rows: two/three;
    grid-template-columns: first/second;
}
#pants_2{
    display: flex;
    grid-area: pants2;
    grid-template-rows: two/three;
    grid-template-columns: second/third;
}
#pants_3{
    display: flex;
    grid-area: pants3;
    grid-template-rows: two/three;
    grid-template-columns: third/fourth;
}
#sweater_1{
    display: flex;
    grid-area: sweater1;
    grid-template-rows: three/four;
    grid-template-columns: first/second;
}
#sweater_2{
    display: flex;
    grid-area: sweater2;
    grid-template-rows: three/four;
    grid-template-columns: second/third;
}
#sweater_3{
    display: flex;
    grid-area: sweater3;
    grid-template-rows: three/four;
    grid-template-columns: third/fourth;
}
.banner{
    width:10rem;
}
