html{
    background-color: rgb(244,239,230);
    margin: none;
    padding: none;
    border: none;
}

body{
    margin: 0;
}
button {
    background-color: #17968b;
    color: white;
    padding: 10px 50px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
  }

nav {
    background-color: #f4efe6;
    padding: 10px 0;
    height: 60px;
}

nav ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify; 
    margin: 10px;
}

nav ul.navbar li {
    float: left;
    margin: 0;
    padding: 0;
    text-decoration-color: black;
    font-family: 'Montserrat Classic';

}

nav ul.navbar li a {
    background-color:#f4efe6; 
    color: rgb(253, 253, 253);
    text-align: left;
    display: block;
    padding: 8px;
    text-decoration: none;
    margin-right: 20px; 
    border-radius: 5px; 
}

nav ul.navbar li a:hover {
    background-color: #f4efe6; 
    transform: scale(1.3);
}

.banner img{
    width: 102%;
    height: auto;
}

::-webkit-scrollbar {
    display: none;
}

footer {
    background-color: #c5d0ff;
    color: white;
    text-align: center;
    padding: 10px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer-left,
.footer-right {
    flex-basis: 48%;
}

.footer-right {
    text-align:center;
    
}