html{
    background-color: rgb(244,239,230);
    margin: none;
    padding: none;
    border: none;
}

@font-face {
    font-family: Seasons;
    src: url(./Images/Fontspring-DEMO-theseasons-reg.otf);
}

body{
    margin: 0;
}
button {
    background-color: rgb(73,147,137);
    color: black;
    padding: .625rem .625rem;
    text-decoration: none;
    border: none;
    border-radius: .625rem;
  }

nav {
    padding: .625rem;
    height: 3.75rem;
}

.font{
    font-size: 2rem;
    font-family: Seasons;
}

nav{
    padding: 2rem 0rem 5rem 2rem;
}

nav ul.navbar {
    list-style-type: none;
    margin: 0;
    text-align: justify; 
    margin: .625rem;
}

nav ul.navbar li {
    float: left;
    margin: 0;
    padding: 0;
    text-decoration-color: black;
    font-family: 'Montserrat Classic';
}

nav ul.navbar li a {
    color: rgb(0, 0, 0);
    text-align: left;
    display: block;
    padding: .5rem;
    text-decoration: none;
    margin-right: 1.25rem; 
    border-radius: .6125rem; 
}

nav ul.navbar li a:hover {
    transform: scale(1.3);
}

.banner img{
    max-width: 100%;
    height: auto;
    border: .8rem solid rgb(212,180,232);
    border-left: 0;
    border-right: 0;
}

::-webkit-scrollbar {
    display: none;
}

footer {
    background-color: rgb(212,180,232);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: .7rem;
    position: relative;
    left: rem;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer-left,
.footer-right {
    flex-basis: 48%;
}

.footer-right {
    text-align:center;
}

.main_img{
    width: 70rem;
    height: auto;
    position: relative;
    left: 66rem;
}

